.container{
  background:rgb(255, 66, 191) ;
  border:2px solid green;
}
.paragraph{
  color:rgb(47, 38, 99);
  font-size: 15px;
  font-family: cursive;
}
h1{
  color: rgb(15, 101, 26);
  border: 2px solid;
}
